:root {
  --primary-blue: #002772;
  --primary-pink: #720060;
  --secondary-blue: #D6E6FF;
  --secondary-pink: #FDE2FF;
  --secondary-grey: #3F3F3F;
  --light-grey: #DCDCDC;
  --white: #FFFFFF;
  --black: #1E1E1E;
}