@import url('./colors.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.title {
  font-size: 26px;
  font-weight: 600;
}

.product {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.detail {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;;
  color: var(--secondary-grey);
}

.price {
  font-size: 28px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 15px;
}

.desc {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  flex: 1;
  padding: 26px 0;
  color: var(--black);
  overflow-y: auto;
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.buttons * {
  flex: 1;
  margin: 0 auto;
  padding: 9px;
  background-color: var(--white);
  font-weight: 600;
  font-size: 20px;
  border-radius: 4px;
}

.product-img {
  width: 30%;
  object-fit: contain;
  align-self: center;
}

.men-page .title, .men-page .price {
  color: var(--primary-blue);
}

.card {
  display: flex;
  background-color: white;
  gap: 70px;
  height: 80vh;
  width: 80vw;
  padding: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.unavailable-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 13px;
  height: 80vh;
  width: 80vw;
  padding: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: black;
  font-size: 20px;
}

.unavailable-card button {
  border: 3px solid black;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  padding: 9px;
  width: 50%;
  z-index: 10;
  cursor: pointer;
}

.sad-face {
  position: absolute;
  margin-top: 50px;
  margin-left: 120px;
  height: 400px;
  z-index: 0;
}

.rating {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.num-rating {
  font-size: 18px;
  color: var(--secondary-grey);
}

.star-rating {
  display: flex;
  gap:2px;
}

.star {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background-color: var(--white);
}

.men-page .filled {
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue)
}

.men-page .star {
  border: 1px solid var(--primary-blue)
}

.women-page .filled {
  background-color: var(--primary-pink);
  border: 1px solid var(--primary-pink)
}

.women-page .star {
  border: 1px solid var(--primary-pink)
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
  height: 70%;
}

.men-page .background {
  background-color: var(--secondary-blue);
}

.men-page .buttons * {
  border: 3px solid var(--primary-blue);
  color: var(--primary-blue);
}

.men-page .buy {
  background-color: var(--primary-blue);
  color: var(--white);
}

.women-page .buttons * {
  border: 3px solid var(--primary-pink);
  color: var(--primary-pink);
}

.women-page .buy {
  background-color: var(--primary-pink);
  color: var(--white);
}

.women-page .title, .women-page .price {
  color: var(--primary-pink);
}

.women-page .background {
  background-color: var(--secondary-pink);
}

.unavailable-page .background {
  background-color: var(--light-grey);
}